<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <p>The Blorg comes with a <strong>100% Sunk Cost Guarantee</strong></p>
      </div>

      <div class="footer-col one-half">
        <ul class="contact-list"
            style="text-align: right">
          {%- if site.email -%}
          <li>
            Email: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {%- endif -%}
          {%- if site.twitter_username -%}
          <li>
            Twitter: <a class="u-twitter" href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
          </li>
          {%- endif -%}
          {%- if site.github_username -%}
          <li>
            GitHub: <a class="u-twitter" href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a>
          </li>
          {%- endif -%}
        </ul>
      </div>

  <p align="center" style="font-size: .8rem">&copy; Matthew Barber {{ 'now' | date: "%Y" }}</p>

  </div>

</footer>
