<div class="diagram-container">
<pre class="diagram">
       <span class="soft">0   1   2   3   4   5   6   7   8   9   A   B   C   D   E   F</span>
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">000</span>  | <span class="hard">&lt;&lt;&lt;============================= Header ======================</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">020</span> &lt; <span class="hard">=======&gt;&gt;&gt;</span> | <span class="hard">&lt;&lt;&lt;~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">040</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">060</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">100</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">120</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">140</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~ Compressed data ~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">160</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">200</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">220</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">240</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">260</span> &lt; <span class="hard">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span> &gt;
     +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
<span class="soft">300</span> &lt; <span class="hard">~~~~~~~~~~~&gt;&gt;&gt;</span> | <span class="hard">&lt;&lt;&lt;======= Trailer =======&gt;&gt;&gt;</span> |
     +---+---+---+---+---+---+---+---+---+---+---+---+
</pre>
</div>
