<div class="diagram-container">
<pre class="diagram">
  Infile          | Outfile        
------------------|----------------
 ..H..            |                
 Lh+1 <span class="soft">..H.. Lh+1</span>  | ..H.. Lh+1     
 Rh+1             | ..H.. Lh+1     
 L1 <span class="soft">Rh+1</span>          | Rh+1           
 L1 <span class="soft">L1</span>            | L1             
 L4 <span class="soft">Rh+1 L1 L1 L4</span> | Rh+1 L1 L1 L4  
 R4               | Rh+1 L1 L1 L4  
 L4 <span class="soft">R4 L4 R4 L4</span>   | R4 L4 R4 L4    
 R4               | R4 L4 R4 L4    
 L4 <span class="soft">R4 L0 L0 Lt+1</span> | R4 L0 L0 Lt+1  
 R4               | R4 L0 L0 Lt+1  
 L0               |                
 L0               |                
 Lt+1 <span class="soft">Rt+1 ..T..</span>  | Rt+1 ..T..     
 Rt+1             | Rt+1 ..T..     
 ..T..            |                
</pre>
</div>
