<div class="diagram-container">
<pre class="diagram">
       Big-endian         |       Little-endian
                          |
      <span class="soft">0           1</span>       |       <span class="soft">0           1</span>
+-----------+-----------+ | +-----------+-----------+
| 0000 0000 | 0001 0000 | | | 0001 1000 | 0000 0000 |
+-----------+-----------+ | +-----------+-----------+
                          |
        <span class="soft">0x</span> 00 18          |          <span class="soft">0x</span> 18 00
</pre>
</div>
