<div class="diagram-container">
<pre class="diagram overflow-center">
0 <span class="soft">+</span> 01 <span class="soft">+</span> ..L12..<span class="soft">[+</span>..L12x..<span class="soft">]</span> <span class="soft">+</span> ..D24..<span class="soft">[+</span>..D24x..<span class="soft">]</span> <span class="soft">+</span> ..L12..<span class="soft">[+</span>..L12x..<span class="soft">]</span> <span class="soft">+</span> ..D24..<span class="soft">[+</span>..D24x..<span class="soft">]</span> <span class="soft">+</span> 00000
</pre>
</div>

