@import "colors";

$bold-size: 0.15px;
@mixin bold($colour) {
    color: $colour;
    text-shadow: -$bold-size 0  $colour, $bold-size 0  $colour;
}


div.diagram-container {
    display: block;
    text-align: center;
    margin-bottom: 15px;

    & > p {
        font-style: italic;
    }
}

pre.diagram {
    margin-bottom: 0; // Reset of Minima
    display: inline-block;
    text-align: left;
    padding: 1.5rem;

    line-height: 1rem;

    font-family: "Roboto Mono", monospace;

    color: $dark;
    background: $lightest;
    border: $light;

    &::selection, &::-moz-selection {
        color: $white !important;
        background: $gray !important;
    }

    & > span {
        // Lazy way to ignore Minima styling
        &::selection, &::-moz-selection {
            color: $white !important;
            background: $gray !important;
        }

        &.soft { color: $light }
        &.hard { @include bold($darkest)}
    }
}

pre.diagram-anim {
    color: $lighter;
    background: $dark;
    border: $gray-subtle;

    &::selection, &::-moz-selection {
        color: $gray !important;
        background: $white !important;
    }

    & > span {
        &::selection, &::-moz-selection {
            color: $gray !important;
            background: $white !important;
        }

        &.soft { color: $light }
        &.hard { @include bold($lightest) }
    }
}

div.diagram-container.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    background: $dark;

    & > pre.diagram-anim {
        background: none;
        border: none;
    }
}
